body {background-color: white;}
h1 {
    font: small-caps bold 24px/1 sans-serif;
}
h2 {
    font: small-caps bold 24px/1 sans-serif;
}
body{
    font: 1.2em "Fira Sans", sans-serif;
}
ul{
    list-style: square;
}
img{
    border: solid;
    border-color: black;
}
body{
    letter-spacing: -1px;
}